# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.db

# Virtual environments
venv/
.env/
.envrc

# Jupyter Notebook
.ipynb_checkpoints

# Airflow
logs/
dags/__pycache__/
airflow.db
airflow.cfg
unittests.cfg

# Spark
.metastore_db/
derby.log

# VSCode & PyCharm
.vscode/
.idea/

# Data
*.parquet
*.csv
*.json
data/

# MacOS
.DS_Store
